<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fraggel.recoveryexecuter"
    android:versionCode="0"
    android:versionName="@string/version" 
	android:icon="@drawable/ic_launcher">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" 
		android:icon="@drawable/ic_launcher"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="MainActivity"
			android:icon="@drawable/ic_launcher">
            <intent-filter  android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.MAIN"  android:icon="@drawable/ic_launcher"/>
                <category android:name="android.intent.category.LAUNCHER"  android:icon="@drawable/ic_launcher"/>
            </intent-filter>
			
        </activity>
		<activity android:name="config" android:icon="@drawable/ic_launcher">
		</activity>
		<activity android:name="fileselect" android:icon="@drawable/ic_launcher">
		</activity>
		<activity android:name="ayuda"></activity>
		<activity android:name="ayudaLista"></activity>
		<activity android:name="crearLista"></activity>
		<activity android:name="acercade"></activity>
		
    </application>
</manifest>
